<template>
  <div>
    <div id="active_raders" class="border-bottom">
      <b-table :items="active_readers" striped>
        <template #cell(user_id)="data">
          <b-row class="justify-content-between mx-0">
            <span>{{ data.value }}</span>
            <div>
              <b-btn @click="onDelete(data.item)" variant="danger" size="sm">Disconnect</b-btn>
              <b-btn v-if="showDelete === data.item.id" @click="showDelete = null" size="sm">Cancel</b-btn>
            </div>
          </b-row>
        </template>
      </b-table>
      <div class="d-flex">
        <b-btn @click="$store.dispatch('getActiveReaders')" class="ml-auto my-3">Refresh</b-btn>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  middleware: 'auth',
  data() {
    return {
      showDelete: null
    }
  },
  computed: {
    active_readers() {
      return this.$store.state.active_readers
    }
  },
  methods: {
    onDelete(connection) {
      if (this.showDelete) {
        this.$store.dispatch("deleteConnection", connection.id)
      } else {
        this.showDelete = connection.id
      }
    }
  },
  created() {
    this.$store.dispatch("getActiveReaders")
  }
}
</script>
