<template>
  <div>
    <b-form inline class="controls">
      <div>
        <!-- Reader Disconnected -->
        <template v-if="!check_reader">
          <b-btn @click="connect">Connect</b-btn>
          <b-select v-model="profile" :options="profiles"></b-select>
          <div class="btn btn-secondary">
            <b-form-checkbox :value="true" :unchecked-value="false">Redacted?</b-form-checkbox>
          </div>
        </template>
        <!-- Reader Connected -->
        <template v-else>
          <b-btn @click="getScan" class="mx-1">Get Scan</b-btn>
          <b-btn @click="ungetScan" class="mx-1">Un-Get Scan</b-btn>
          <b-btn @click="disconnect" class="mx-1">Disconnect</b-btn>
        </template>
      </div>
    </b-form>
    <div id="connection_log" class="border-bottom">
      <h5>Connection</h5>
      <b-table :items="connection_log" :fields="logFields" striped responsive sticky-header="550px"></b-table>
      <div class="d-flex">
        <b-btn @click="clearConnectionLog" class="ml-auto my-3">Clear</b-btn>
      </div>
    </div>
    <div id="check_log" class="mt-3 border-bottom">
      <h5>Checks</h5>
      <b-table ref="checks" :items="check_log" :fields="checkDataFields" striped responsive sticky-header="550px">
        <template #cell(image)="data">
          <img :src="`data:image/png;base64,${data.value}`" :alt="data.value" width="300px" />
        </template>
      </b-table>
      <div class="d-flex">
        <b-btn @click="clearCheckLog" class="ml-auto my-3">Clear</b-btn>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  middleware: 'auth',
  data() {
    return {
      logFields: ['connected', 'profile', 'reader_host', 'message'],
      checkDataFields: [
        'account_number',
        'check_number',
        'image_content_type',
        'routing_number',
        'scan_id',
        'scan_time',
        'image',
      ],
      profile: "default",
      redacted: false
    }
  },
  computed: {
    check_reader() {
      return this.$store.state.check_reader
    },
    check_log() {
      return this.$store.state.check_log
    },
    connection_log() {
      return this.$store.state.connection_log
    },
    profiles() {
      return this.$store.state.profiles.map((profile) => profile.name)
    },
  },
  methods: {
    async connect() {
      const data = await this.$store.dispatch('connectReader', {
        profile: this.profile,
        redacted: this.redacted
      })
      this.$nextTick()
      // this.log.push(data)
    },
    async disconnect() {
      const data = await this.$store.dispatch('disconnectReader')
      this.$nextTick()
      // this.log.push(data)
    },
    async getScan() {
      const data = await this.$store.dispatch('getScan')
      // this.check_data.push(data)
      let tbody = this.$refs.checks.$el.querySelector('tbody')
      this.$nextTick().then(function () {
        let rows = tbody.querySelectorAll('tr')
        let row = rows[rows.length - 1]
        row.scrollIntoView()
      })
    },
    async ungetScan() {
      const data = await this.$store.dispatch('ungetScan')
      // this.check_data.push(data)
      let tbody = this.$refs.checks.$el.querySelector('tbody')
      this.$nextTick().then(function () {
        let rows = tbody.querySelectorAll('tr')
        let row = rows[rows.length - 1]
        row.scrollIntoView()
      })
    },
    clearConnectionLog() {
      this.$store.dispatch('clearConnectionLog')
      this.$nextTick()
    },
    clearCheckLog() {
      this.$store.dispatch('clearCheckLog')
      this.$nextTick()
    },
  },
  created() {
    this.$store.dispatch('fetchProfiles')
  },
}
</script>
<style>
.controls {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  /* background-color: white; */
  justify-content: center;
  flex-wrap: nowrap;
  z-index: 1020;
  pointer-events: none;


  @media only screen and (max-width:660px) {
    top: calc(100% - 3.25rem);
  }
}

.controls>div {
  gap: .25rem;
  padding: .5rem;
  pointer-events: all;

  @media only screen and (max-width:1000px) and (min-width:660px) {
    margin-left: auto;
  }
}

.controls div {
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
}

.container>.card {
  @media only screen and (max-width:660px) {
    margin-bottom: 2.25rem;
  }
}
</style>