<template>
  <div class="login-container">
    <b-card header="Login" header-class="bg-primary text-white h4">
      <b-form @submit.prevent="onLogin">
        <b-form-group label="Username">
          <b-input v-model="loginForm.username"></b-input>
        </b-form-group>
        <b-form-group label="Password">
          <b-input v-model="loginForm.password" type="password"></b-input>
        </b-form-group>
        <b-btn type="submit" class="w-100" variant="primary "> Login </b-btn>
      </b-form>
    </b-card>
  </div>
</template>
<script>
export default {
  data() {
    return {
      loginForm: {
        username: "",
        password: "",
      },
    };
  },
  computed: {
    user() {
      return this.$store.$auth.$state.user;
    },
  },
  methods: {
    async onLogin(evt) {
      evt.preventDefault();
      await this.$auth.loginWith("local", {
        data: this.loginForm,
      });
      this.$router.push('/checkreader')
    },
  },
  created() {
    if (this.$auth.loggedIn)
      this.$auth.logout()
  }
};
</script>
<style scoped>
.login-container {
  width: min(100% - 2rem, 500px);
  margin-inline: auto;
}
</style>