<template>
  <div id="profiles" class="border-bottom">
    <div v-if="manageProfiles" class="col-6 mx-auto">
      <div class="text-left p-3 border rounded">
        <b-form @submit="addProfile">
          <b-form-group id="input-group-2" label="Name" label-for="input-1">
            <b-form-input id="input-1" v-model="addProfileForm.name" required></b-form-input>
          </b-form-group>
          <b-form-group id="input-group-2" label="Host" label-for="input-2">
            <b-form-input id="input-2" v-model="addProfileForm.host" required></b-form-input>
          </b-form-group>
          <b-form-group id="reader-type-group" label="Type" label-for="reader-type">
            <b-select v-model="addProfileForm.type" :options="reader_types" required></b-select>
          </b-form-group>
          <b-form-group id="input-group-3" label="FTP Host (Magtek only)" label-for="input-3"
            v-if="addProfileForm.type == 1">
            <b-form-input id="input-3" v-model="addProfileForm.ftp_host" required></b-form-input>
          </b-form-group>
          <div class="d-flex justify-content-end">
            <b-button :disabled="profileExists" type="submit" variant="primary" class="ml-auto">
              Add Profile
            </b-button>
          </div>
          <div class="mt-3">
            <b-alert v-model="profileExists" class="m-0 rounded-0" style="z-index: 2000" variant="danger">
              Profile name already exists.
            </b-alert>
          </div>
        </b-form>
      </div>
    </div>
    <div class="d-flex">
      <b-btn @click="manageProfiles = !manageProfiles" class="ml-auto mb-2">{{
        manageText
      }}</b-btn>
    </div>
    <b-table :items="profiles" responsive striped hover>
      <template #cell(name)="data">
        <b-input v-if="showEdit === data.item.id" v-model="profileForm.name" size="sm"></b-input>
        <span v-else>{{ data.value }}</span>
      </template>
      <template #cell(ftp_host)="data">
        <b-input v-if="showEdit === data.item.id" v-model="profileForm.ftp_host" size="sm"></b-input>
        <span v-else>{{ data.value }}</span>
      </template>
      <template #cell(host)="data">
        <b-input v-if="showEdit === data.item.id" v-model="profileForm.host" size="sm"></b-input>
        <span v-else>{{ data.value }}</span>
      </template>
      <template #cell(type)="data">
        <span v-if="showEdit === data.item.id">{{ profileForm.type }}</span>
        <span v-else>{{ data.value }}</span>
      </template>
      <template #cell(type_name)="data">
        <b-row class="justify-content-between mx-0">
          <div>
            <b-select v-if="showEdit === data.item.id" v-model="profileForm.type" :options="reader_types"
              size="sm"></b-select>
            <span v-else>{{ data.value }}</span>
          </div>
          <div>
            <b-btn v-if="showDelete !== data.item.id" @click="onEdit(data.item)" variant="primary" size="sm">
              <template v-if="showEdit !== data.item.id">Edit</template>
              <template v-else>Cancel</template>
            </b-btn>
            <b-btn @click="onDelete(data.item)" v-if="showEdit !== data.item.id" variant="danger" size="sm">
              <template>Delete</template>
            </b-btn>
            <b-btn v-else @click="onSave(data.item)" variant="success" size="sm">Save</b-btn>
            <b-btn v-if="showDelete === data.item.id" @click="showDelete = null" size="sm">Cancel</b-btn>
          </div>
        </b-row>
      </template>
    </b-table>
  </div>
</template>
<script>
export default {
  middleware: "auth",
  data() {
    return {
      manageProfiles: false,
      addProfileForm: {
        name: '',
        host: '',
        type: 2,
        ftp_host: '',
      },
      profileForm: {
        id: null,
        name: null,
        host: null,
        type: null,
        ftp_host: null
      },
      showDelete: null
    }
  },
  computed: {
    profiles() {
      return this.$store.state.profiles
    },
    names() {
      return this.profiles.map((profile) => profile.name)
    },
    reader_types() {
      return this.$store.state.reader_types
    },
    profileExists() {
      return (
        this.addProfileForm.name !== '' &&
        this.names.includes(this.addProfileForm.name)
      )
    },
    manageText() {
      return this.manageProfiles ? 'Done' : 'Add Profiles'
    },
    showEdit() {
      return this.profileForm.id || null
    }
  },
  created() {
    this.$store.dispatch('fetchProfiles')
    // this.$store.dispatch('fetchReaderTypes')
  },
  methods: {
    addProfile(evt) {
      evt.preventDefault()
      if (this.profileExists) return
      this.$store.dispatch('createProfile', this.addProfileForm)
      this.clearForm()
      this.$nextTick()
    },
    clearForm() {
      this.addProfileForm = {
        name: '',
        host: '',
        type: '',
        ftp_host: '',
      }
    },
    onEdit(profile) {
      if (this.showEdit) {
        Object.assign(this.profileForm, {
          id: null,
          name: null,
          host: null,
          type: null,
          ftp_host: null
        })
      } else {
        Object.assign(this.profileForm, profile)
      }
    },
    onSave() {
      // Do save
      this.$store.dispatch("updateProfile", this.profileForm)
      this.onEdit()
    },
    onDelete(profile) {
      if (this.showDelete === profile.id) {
        this.$store.dispatch("deleteProfile", profile.name)
      } else {
        this.showDelete = profile.id
      }
    }
  },
}
</script>