<template>
    <div>
        <b-input-group>
            <template #append>
                <b-btn @click="onCopy">
                    <b-icon icon="clipboard"></b-icon>
                </b-btn>
            </template>
            <b-form-input :value="token" disabled></b-form-input>
        </b-input-group>
    </div>
</template>
<script>
import { BIcon, BIconClipboard } from "bootstrap-vue"
export default {
    middleware: "auth",
    components: {
        BIcon,
        BIconClipboard
    },
    computed: {
        token() {
            return localStorage["auth._token.local"].split(" ")[1]
        }
    },
    methods: {
        onCopy() {
            navigator.clipboard.writeText(this.token);
            this.$bvToast.toast(`Token was copied to clipboard.`, {
                title: 'Token Copied',
                autoHideDelay: 1000,
                variant: "success",
                solid: true
            })
        }
    }
}
</script>