<template>
  <div>
    <div id="users" class="border-bottom">
      <div class="mb-2">
        <div v-if="manageUsers" class="col-6 mx-auto">
          <div class="text-left p-3 border rounded">
            <b-form @submit="addUser">
              <b-form-group id="input-group-2" label="Username" label-for="input-1">
                <b-form-input id="input-1" v-model="addUserForm.username" required></b-form-input>
              </b-form-group>
              <b-form-group id="input-group-2" label="Password" label-for="input-2">
                <b-form-input id="input-2" v-model="addUserForm.password" type="password" required></b-form-input>
              </b-form-group>
              <b-form-group id="input-group-3" label="Confirm Password" label-for="input-3">
                <b-form-input id="input-3" v-model="confirmPassword" type="password" required></b-form-input>
              </b-form-group>
              <b-form-group id="input-group-4" label="Permissions" label-for="input-4">
                <b-select id="input-4" v-model="addUserForm.permissions" :options="permissions"></b-select>
              </b-form-group>
              <div class="d-flex justify-content-end">
                <b-button :disabled="invalid" type="submit" variant="primary" class="ml-auto">
                  Add User
                </b-button>
              </div>
              <div class="mt-3">
                <b-alert v-model="invalid" class="m-0 rounded-0" style="z-index: 2000" variant="danger">
                  <template v-if="userExists">
                    Invalid username or user already exists.
                  </template>
                  <template v-else-if="!passConfirmed">
                    Please confirm password.
                  </template>
                </b-alert>
              </div>
            </b-form>
          </div>
        </div>
        <div class="d-flex">
          <b-btn @click="manageUsers = !manageUsers" class="ml-auto">{{
            manageText
          }}</b-btn>
        </div>
      </div>
      <b-table :items="users" striped hover>
        <template #cell(permissions)="data">
          <b-overlay :show="showDelete === data.item.username" opacity="0" no-center>
            <b-row class="justify-content-between mx-0">
              <div>
                <b-select :value="data.item.permissions" :options="permissions"
                  @input="e => onChangePermissions(e, data.item)" size="sm"></b-select>
              </div>
              <b-btn @click="showDelete = data.item.username" variant="danger" size="sm">Delete</b-btn>
            </b-row>
            <template #overlay>
              <b-row class="justify-content-end mx-0 gap-1">
                <b-btn @click="onDelete(data.item)" size="sm" variant="danger">Delete</b-btn>
                <b-btn @click="showDelete = null" size="sm">Cancel</b-btn>
              </b-row>
            </template>
          </b-overlay>
        </template>
      </b-table>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      manageUsers: false,
      addUserForm: {
        username: '',
        password: '',
        permissions: 'user',
      },
      confirmPassword: '',
      showDelete: null,
    }
  },
  computed: {
    users() {
      return this.$store.state.users
    },
    usernames() {
      return this.users.map((user) => user.username)
    },
    permissions() {
      return this.$store.state.permissions
    },
    manageText() {
      return this.manageUsers ? 'Done' : 'Add User'
    },
    userExists() {
      return (
        this.addUserForm.username !== '' &&
        this.usernames.includes(this.addUserForm.username)
      )
    },
    passConfirmed() {
      return (
        this.addUserForm.password == '' ||
        this.addUserForm.password === this.confirmPassword
      )
    },
    invalid() {
      return this.userExists || !this.passConfirmed
    },
  },
  methods: {
    addUser(evt) {
      evt.preventDefault()
      if (this.invalid) return
      this.$store.dispatch('createUser', this.addUserForm)
      this.clearForm()
      this.$nextTick()
    },
    clearForm() {
      this.addUserForm = {
        username: '',
        password: '',
        permissions: 'user',
      }
      this.confirmPassword = ''
    },
    onDelete(user) {
      this.$store.dispatch('deleteUser', user.id)
    },
    onChangePermissions(permissions, user) {
      this.$store.dispatch('updateUser', { userId: user.id, permissions: permissions })
    }
  },
  created() {
    this.$store.dispatch('fetchUsers')
  },
}
</script>