<template>
  <div class="app-container">
    <Header></Header>
    <Menu></Menu>
    <div class="container">
      <template v-if="route === 'login'">
        <Nuxt />
      </template>
      <template v-else>
        <div class="mask"></div>
        <b-card header-class="h3 bg-primary text-white">
          <template #header>
            {{ title }}
          </template>
          <Nuxt />
        </b-card>
      </template>
    </div>
  </div>
  <!-- </div> -->
</template>
<script>
export default {
  computed: {
    user() {
      return this.$auth.$state.user
    },
    route() {
      return this.$route.name
    },
    title() {
      let str = this.$route.name
      return str
        .split("_")
        .map((word) => word.charAt(0).toUpperCase() + word.slice(1))
        .join(' ');
    }
  },
  methods: {
    async onLogout(evt) {
      evt.preventDefault()
      await this.$auth.logout()
      this.$router.push('/login')
    },
  },
}
</script>
<style>
.app-container {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-bottom: 1rem;
}

.app-container .card-header {
  position: sticky;
  top: calc(1rem + 56px);
  z-index: 1000;
}

.app-container .card-body .card-header {
  top: calc(4.6rem + 56px);
  background-color: var(--white);
  color: var(--black);
  z-index: 999;
}

.mask {
  height: 1rem;
  position: sticky;
  display: block;
  top: 56px;
  background-color: white;
  z-index: 1000;
}

.gap-1 {
  gap: .25rem;
}
</style>