<template>
    <b-navbar class="mb-3" type="dark" variant="dark" sticky>
        <b-btn class="mr-1 btn-dark" v-b-toggle.menu>☰</b-btn>
        <img src="https://staff.dm.org/application/files/7514/8130/3493/DM_Logo_2016_White_320_NO_TEXT.png" width="40px"
            alt="">
        <b-navbar-brand class="ml-2">
            {{ $nuxt.$options.head.title }}
        </b-navbar-brand>
    </b-navbar>
</template>