<template>
    <b-sidebar
      id="menu"
      title="Menu"
      header-class="bg-primary text-white"
      shadow
      backdrop
    >
      <div class="p-2 h5">
        <b-nav vertical>
          <template v-if="$store.state.auth.loggedIn">
            <template v-for="nav in $store.state.navs">
              <template v-if="nav.category">
                <b-card
                  :header="nav.category"
                  header-class="bg-primary text-white"
                  body-class="p-0"
                  :key="nav.category"
                  class="mb-2"
                >
                  <b-nav-item
                    class="border-bottom"
                    :link-classes="$route.path === nav.to ? 'active' : ''"
                    v-for="nav in nav.navs"
                    :key="nav.text"
                    @click="navSelected(nav.to)"
                  >
                    {{ nav.text }}
                  </b-nav-item>
                </b-card>
              </template>
              <b-nav-item
                v-else
                class="border-bottom"
                :link-classes="$route.path === nav.to ? 'active' : ''"
                :key="nav.text"
                @click="navSelected(nav.to)"
              >
                {{ nav.text }}
              </b-nav-item>
            </template>
          </template>
          <b-nav-item
            v-else
            class="border-bottom"
            :link-classes="$route.path === '/login' ? 'active' : ''"
            @click="navSelected('/login')"
          >
            Login
          </b-nav-item>
        </b-nav>
      </div>
    </b-sidebar>
</template>
<script>
export default {
  methods: {
    navSelected(path) {
      this.$router.push(path)
    }
  }
}
</script>